.section {
  padding: 60px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section .intro {
  margin-bottom: 50px;
}

.section h2 {
  color: red; 
  margin-bottom: 10px;
}

.section h3 {
  color: black; 
  margin-bottom: 10px;
}

.section p {
  margin-bottom: 50px;
}

.learn-more-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #b30000; 
}

.how-we-work {
  text-align: center;
  background-color: #1d1c1c;
  color: #fff;
  padding: 200px 100px;
  border-radius: 15px;
  margin: 100px 50;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.how-we-work h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.how-we-work p {
  font-family: 'Lato', sans-serif;
  font-size: 1.35rem;
  margin-bottom: 30px;
}